.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--main-color);
  background-color: var(--studio-footer-color);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--adress-link-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--adress-link-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--hover-color);
  outline: transparent;
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.form-field-name {
  margin: 0 auto;
}

.form-field {
  margin-top: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.textarea-field {
  margin-top: 10px;
}

.input-wrap {
  position: relative;
}

.form-icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap:focus-within > .form-icon {
  fill: var(--hover-color);
  border-color: var(--hover-color);
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.input-wrap:focus-within > .modal-input {
  border-color: var(--hover-color);
  outline: transparent;
  border: 1px solid var(--hover-color);
}

.form-label-coments {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.coments-modul {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.coments-modul:focus {
  border-color: var(--hover-color);
  outline: transparent;
  border: 1px solid var(--hover-color);
}

::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.conditions-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.conditions-label span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  fill: transparent;
  cursor: pointer;
}
.input-conditions:checked + .conditions-label span {
  background-color: var(--hover-color);
  border-color: transparent;
  fill: var(--adress-link-color);
}

.conditions-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--hover-color);
}

.form-conditions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.conditions-text {
  text-decoration: none;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--hover-color);
}

.check-text {
  margin-right: 2px;
}

.btn-submit {
  display: flex;
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  border-radius: 4px;
  color: var(--adress-link-color);
  background-color: var(--background-color-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit:hover, .btn-submit:focus {
  background-color: var(--hover-second-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-about:hover,
.project-about:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item {
  padding: 20px 24px;
  border: 1px solid var(--bottom-line-item);
}

.project-item {
  width: calc((100% - 60px) / 3);
}
.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-wrap {
  position: relative;
  overflow: hidden;
}

.project-text-top {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  height: 100%;
  padding: 63px 24px;
  color: var(--adress-link-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover .project-text-top {
  transform: translate(0);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover, .project-link:focus {
  background: var(--adress-link-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}

.clients {
  padding-top: 88px;
  padding-bottom: 93px;
}

.clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
}

.clients-icon {
  fill: currentColor;
}
.clients-icon:hover, .clients-icon:focus {
  fill: var(--hover-color);
}

.footer-portfolio {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-container-portfolio {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.adress-item-portfolio {
  margin-bottom: 9px;
}

.adress-item-portfolio:last-child {
  margin-bottom: 0;
}

.adress-link-portfolio {
  font-style: normal;
  line-height: var(--typical-line-height);
  color: var(--adress-link-color);
}

.adress-contact-link-portfolio {
  font-style: normal;
  font-weight: 400;
  line-height: var(--typical-line-height);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-contact-link-portfolio:hover, .adress-contact-link-portfolio:focus {
  color: var(--hover-color);
}

.join-portfolio-text {
  font-weight: 700;
  display: inline-block;
  line-height: 1.14px;
  text-transform: uppercase;
  justify-content: center;
  color: var(--adress-link-color);
  margin-bottom: 20px;
}

.join-portfolio-list {
  display: flex;
  gap: 10px;
}

.join-portfolio-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-portfolio-link:hover, .join-portfolio-link:focus {
  background-color: var(--hover-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.join-portfolio-icon {
  fill: var(--adress-link-color);
}
.join-portfolio-icon:hover, .join-portfolio-icon:focus {
  color: var(--adress-link-color);
}

.subscription-text-portfolio {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--adress-link-color);
}

.subscription-input-portfolio {
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline-color: transparent;
  color: var(--adress-link-color);
  background-color: var(--background-color-footer);
}
.subscription-input-portfolio::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input-portfolio:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input-portfolio::placeholder {
  font-size: 16px;
  line-height: 1.25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscription-portfolio {
  display: inline-flex;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--adress-link-color);
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  background: var(--background-color-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.subscription-icon-portfolio {
  margin-left: 10px;
}

.footer {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  margin-bottom: 20px;
}

.studio-footer {
  color: var(--studio-footer-color);
}

/*----------------Adress-----------------*/
.adress-item {
  margin-bottom: 9px;
}

.adress-item:last-child {
  margin-bottom: 0px;
}

.adress-link {
  font-style: normal;
  line-height: var(--typical-line-height);
  color: var(--adress-link-color);
}

.footer-contacts-link {
  font-style: normal;
  line-height: var(--typical-line-height);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--hover-color);
}

/*---------------Join----------------*/
.join-text {
  font-weight: 700;
  display: inline-block;
  line-height: 1.14px;
  text-transform: uppercase;
  justify-content: center;
  color: var(--adress-link-color);
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  gap: 10px;
}

.join-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover, .join-link:focus {
  background-color: var(--hover-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.join-icon {
  fill: var(--adress-link-color);
}
.join-icon:hover, .join-icon:focus {
  color: var(--adress-link-color);
}

.subscription-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--adress-link-color);
}

.subscription-input {
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline-color: transparent;
  color: var(--adress-link-color);
  background-color: var(--background-color-footer);
}
.subscription-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25px;
  padding: 0 auto;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25px;
  padding: 0 auto;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.25px;
  padding: 0 auto;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscription {
  display: inline-flex;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--adress-link-color);
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  background: var(--background-color-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.subscription-icon {
  margin-left: 10px;
}

.header-portfolio {
  background-color: var(--adress-link-color);
  border-bottom: 1px solid var(--bottom-line);
}

.container-portfolio {
  display: flex;
  align-items: center;
}

.nav-portfolio {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-color);
}

.studio-header {
  color: var(--studio-header-color);
}

.header-list-portfolio {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.header-link-portfolio {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-portfolio:hover, .header-link-portfolio:focus {
  color: var(--hover-color);
  background-color: var(--adress-link-color);
}
.header-link-portfolio.current::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}

.contacts-list-portfolio {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.contact-icon-portfolio {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-portfolio:hover, .contacts-portfolio:focus {
  color: var(--background-color-btn);
  background-color: var(--adress-link-color);
}

.header {
  background-color: var(--adress-link-color);
  border-bottom: 1px solid var(--bottom-line);
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
  position: relative;
}

.nav__logo {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-color);
}

.nav__studio {
  color: var(--studio-header-color);
}

.header-list__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list__link:hover, .header-list__link:focus {
  color: var(--hover-color);
  background-color: var(--adress-link-color);
}
.header-list__link.current::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}

.header-list__link--active.current {
  color: var(--hover-color);
}

.header-link-portfolio.current {
  color: var(--hover-color);
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.contact-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: var(--hover-color);
  background-color: var(--adress-link-color);
  fill: var(--hover-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.main {
  background-color: var(--body-backgrounf-color);
}

.hero {
  text-align: center;
  padding: 200px 0px;
  background-color: var(--background-color-footer);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/all.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  max-width: 1600px;
  margin: 0 auto;
}

.container__title {
  font-weight: 900;
  font-size: 44px;
  width: 696px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-hero-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.container__btn {
  display: flex;
  display: inline-block;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  color: var(--main-hero-color);
  background-color: var(--background-color-btn);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.container__btn:hover {
  color: var(--hover-color);
  background-color: var(--adress-link-color);
}
.container__btn:focus {
  color: var(--adress-link-color);
  background-color: var(--hover-color);
}

.philter-btn-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-color);
  background-color: var(--background-col-btn);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: var(--adress-link-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.practical-list {
  display: flex;
  gap: 30px;
}

.practical-item {
  position: relative;
}

.practical-about {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  bottom: 0;
  right: 0;
  padding: 27px 107px;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.about-text {
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--adress-link-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  background-color: var(--background-col-btn);
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-item {
  margin-right: 30px;
  background: var(--adress-link-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:last-child {
  margin-right: 0px;
}

.team-soc-icon {
  fill: currentColor;
}
.team-soc-icon:hover, .team-soc-icon:focus {
  color: var(--adress-link-color);
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--hover-color);
  color: var(--adress-link-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 13px;
}

.gallery__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-radius: 50%;
}

.gallery__item {
  width: 270px;
}

.svg-item {
  display: flex;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-col-btn);
  margin-bottom: 30px;
}

.svg-item__icon {
  background: var(--background-col-btn);
}

.gallery__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.title {
  margin-bottom: 10px;
}

.gallery__text {
  line-height: var(--typical-line-height);
  color: var(--second-color);
}

:root {
  --main-color: #212121;
  --second-color: #757575;
  --hover-color: #2196f3;
  --hover-second-color: #188ce8;
  --background-color-btn: #2196f3;
  --body-backgrounf-color: #f5f5f5;
  --studio-header-color: #000000;
  --main-hero-color: #ffffff;
  --background-color-footer: #2f303a;
  --studio-footer-color: #ffffff;
  --adress-link-color: #ffffff;
  --typical-line-height: 1.71;
  --background-col-btn: #f5f4fa;
  --bottom-line: #ececec;
  --bottom-line-item: #eeeeee;
  --icon-color: #afb1b8;
}

.visually-hidden-top {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}/*# sourceMappingURL=main.css.map */