:root {
    --main-color: #212121;
    --second-color: #757575;
    --hover-color: #2196f3;
    --hover-second-color: #188ce8;
    --background-color-btn: #2196f3;
    --body-backgrounf-color: #f5f5f5;
    --studio-header-color: #000000;
    --main-hero-color: #ffffff;
    --background-color-footer: #2f303a;
    --studio-footer-color: #ffffff;
    --adress-link-color: #ffffff;
    --typical-line-height: 1.71;
    --background-col-btn: #f5f4fa;
    --bottom-line: #ececec;
    --bottom-line-item: #eeeeee;
    --icon-color: #afb1b8;
}